<div id="register-user" class="container">
  <form>
      <h1 class="col-xs-12">Application</h1>
      <div class="input-group">
          <span class="input-group-addon" id="username-prefix">@</span>
          <input type="text" placeholder="Username" class="form-control" name="username" ngModel>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="password-prefix">● ● ●</span>
          <input type="password" placeholder="Password" class="form-control" name="password" ngModel>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="conf-password-prefix">● ● ●</span>
          <input type="password" placeholder="Confirm Password" class="form-control" name="password">
      </div>
      <div class="input-group">
          <button id="register-user-button" class="btn btn-success">Submit</button>
      </div>
  </form>
</div>
