.nav {
	padding-bottom: 0;
}

.nav-item {
	font-size: 1.5em;
}

a.navbar-brand {
	padding-top: 0;
	padding-right: 5px;
	margin: 0px;
}

.navbar .navbar-brand img {
	margin-top: 7px;
	height: 35px;
}

.navbar-text {
	font-family: Pacifico;
	font-size: 20px;
	margin-top: 10px;
}

.nav-item {
	font-family: 'Acme', sans-serif;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	margin-right: 2px;
}

.navbar-header {
	margin-bottom: -5px;
}

#logoutButton {
	display: none;
}