<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">
            <img id="brand" src="/assets/images/icon.png" alt="Icon">
        </a>
        <a routerLink="/home"><p class="navbar-text">CourseCritics</p></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul id="navbar-items" class="nav navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/courses">Courses</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/review">Review</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!loggedInUser()">
                    <a class="nav-link" routerLink="/registeruser">Register</a>
                </li>
            </ul>
            <form *ngIf="!loggedInUser()" id="login-form" class="navbar-form navbar-right" (ngSubmit)="onLogin(f)" #f="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" ngModel required>
                    <input type="password" class="form-control" placeholder="Password" name="password" ngModel required>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <div class="navbar-form navbar-right" *ngIf="loggedInUser()">
                <button id="userButton" class="btn btn-default" *ngIf="loggedInUser()" (click) ="getVisibility()">{{ getuser() }}</button>
                <button id="logoutButton" class="btn btn-danger" *ngIf="loggedInUser()"(click)="logout()">Log out</button>
            </div>
        </div>
    </div>
</nav>