
<div id="review-cont" class="container">
  <form (ngSubmit)="onSubmitReview(f)" #f="ngForm">
    <h1 class="col-xs-12">Course info:</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
            <input type="text" placeholder="Course: XX0000" class="form-control" name="coursename" ngModel required>
            <div class="input-group-btn bs-dropdown-to-select-group">
                <button type="button" class="btn btn-default dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown">
                    <span data-bind="bs-drp-sel-label">HT17</span>
                    <input type="hidden" name="selected_value" data-bind="bs-drp-sel-value" value="" name="semester" ngModel>
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-value="1"><a>HT17</a></li>
                    <li data-value="2"><a>VT18</a></li>
                    <li data-value="3"><a>HT18</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 rating-prefix">Program:</div>
    <div class="input-group">
      <input type="text" placeholder="XXXXX" class="form-control" name="program" ngModel required>
    </div>
    <div class="col-xs-12 rating-prefix">Is the course optional?:</div>
    <div class="col-xs-12"><div class="form-check checkbox-qa">
      <input class="form-check-input" type="radio" name="optradio" id="defaultRadio1" name="optional" ngModel>
      <label class="form-check-label" for="defaultRadio1">
        &nbsp;Yes.
      </label>
      <input class="form-check-input" type="radio" name="optradio" id="defaultRadio2">
      <label class="form-check-label" for="defaultRadio2">
        &nbsp;No.
      </label>
    </div></div>
    <h1 class="col-xs-12">Your thoughts:</h1>
    <div class="col-xs-12 rating-prefix">Do you need to attend the lectures?:</div>
    <div class="col-xs-12"><div class="form-check checkbox-qa">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="lectures" ngModel>
      <label class="form-check-label" for="defaultCheck1">
        &nbsp;Yes, I think so.
      </label>
    </div></div>
    <div class="col-xs-12 rating-prefix">Is the book required?:</div>
    <div class="col-xs-12"><div class="form-check checkbox-qa">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" name="book" ngModel>
      <label class="form-check-label" for="defaultCheck2">
        &nbsp;Yes, I think it is.
      </label>
    </div></div>
    <div class="col-xs-12 rating-prefix">Is there a lot of group work?:</div>
    <div class="col-xs-12"><div class="form-check checkbox-qa">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" name="group" ngModel>
      <label class="form-check-label" for="defaultCheck3">
        &nbsp;Yes, there is.
      </label>
    </div></div>
    <div class="col-xs-12 rating-prefix">How much time did you spend, weekly?:</div>
    <div class="col-xs-12"><input id="hours-box" class="form-control form-control-sm" type="text" name="hours" ngModel>&nbsp; hours</div>
    <h1 class="col-xs-12">Scoring:</h1>
    <div class="col-xs-4 rating-prefix">Quality:</div><div class="col-xs-8" include-html="components/rate.html"></div>
    <div class="col-xs-4 rating-prefix">Relevance:</div><div class="col-xs-8" include-html="components/rate.html"></div>
    <div class="col-xs-4 rating-prefix">Difficulty:</div><div class="col-xs-8" include-html="components/rate.html"></div>
    <div class="col-xs-4 rating-prefix">Teaching:</div><div class="col-xs-8" include-html="components/rate.html"></div>
    <h1 class="col-xs-12">Comment:</h1>
    <textarea class="form-control" rows="5" placeholder="Something you want to add?..."></textarea>
    <button id="submit-review" class="btn btn-default" [disabled]="!f.valid">Submit</button>
  
</form>