@import '~font-awesome/css/font-awesome.css';

.checkbox-qa {
	padding-top: 0.5em;
    padding-left: 5px;
    max-width: 150px;
}

.form-check {
    margin: 5px 0 20px 0;
}

.radio-right-text {
    border-left-color: transparent;
} 

.radio-left-text {
    border-right-color: transparent;
} 

#course-pre-box {
    min-width: 83px;
}

#hours-box {
	max-width: 120px;
}

#submit-review {
	margin-top: 5px;
	margin-left: 40%;
	width: 20%;
    margin-bottom: 10%;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating-prefix {
	color: #3d3d3d;
	margin-top: 0.5em;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }