
    <div class="container">
        <div class="container col-8">
          <div id="search-box" class="input-group">
            <input type="text" class="form-control" placeholder="Search for courses or programs...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
  
  
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Course 1
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="col-xs-4">Quality:</div><div class="col-xs-8">★★★★★</div>
                  <div class="col-xs-4">Relevance:</div><div class="col-xs-8">★★★★</div>
                  <div class="col-xs-4">Difficulty:</div><div class="col-xs-8">★</div>
                  <div class="col-xs-4">Teaching:</div><div class="col-xs-8">★★★★★</div>
                  <div class="col-xs-12"><a href="#">See more</a></div>
                  
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Course 2
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div class="col-xs-4">Quality:</div><div class="col-xs-8">★★★★★</div>
                  <div class="col-xs-4">Relevance:</div><div class="col-xs-8">★★★★</div>
                  <div class="col-xs-4">Difficulty:</div><div class="col-xs-8">★</div>
                  <div class="col-xs-4">Teaching:</div><div class="col-xs-8">★★★★★</div>
                  <div class="col-xs-12"><a href="#">See more</a></div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Course 3
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <div class="col-xs-4">Quality:</div><div class="col-xs-8">★★★★★</div>
                  <div class="col-xs-4">Relevance:</div><div class="col-xs-8">★★★★</div>
                  <div class="col-xs-4">Difficulty:</div><div class="col-xs-8">★</div>
                  <div class="col-xs-4">Teaching:</div><div class="col-xs-8">★★★★★</div>
                  <div class="col-xs-12"><a href="#">See more</a></div>
                </div>
              </div>
            </div>
          </div>
      </div>