
    <div class="container">
        <div class="container col-xs-12">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for courses or programs...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
  
  
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" *ngFor="let course of courses | filter : searchText; let i = index" >
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapse{{i}}" aria-expanded="false" aria-controls="collapse[i]">
                    <div class="row">
                      <div class="col-xs-12 coursename">
                        {{course.name}}
                      </div> 
                      <div class="col-xs-12 courseschool">
                        {{course.school}}
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading[i]">
                <div class="panel-body">
                  <div class="col-xs-6">Quality: {{course.avgQuality}}/5</div>
                  <div class="col-xs-6">Relevance: {{course.avgRelevance}}/5</div>
                  <div class="col-xs-6">Difficulty: {{course.avgDifficulty}}/5</div>
                  <div class="col-xs-6">Teaching: {{course.avgTeaching}}/5</div>
                  <div class="col-xs-12"><a routerLink="/courses/{{course.name}}">See more</a></div>
                </div>
              </div>
            </div>
          </div>
      </div>