
    <div class="container">
        <div class="container col-8">
          <div id="search-box" class="input-group">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for courses or programs...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
  
  
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" *ngFor="let course of courses | filter : searchText; let i = index" >
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="false" aria-controls="collapse[i]">
                    {{course.name}} {{i}}
                  </a>
                </h4>
              </div>
              <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading[i]">
                <div class="panel-body">
                  <div class="col-xs-4">Quality:</div><div class="col-xs-8">{{course.avgQuality}}</div>
                  <div class="col-xs-4">Relevance:</div><div class="col-xs-8">{{course.avgRelevance}}</div>
                  <div class="col-xs-4">Difficulty:</div><div class="col-xs-8">{{course.avgDifficulty}}</div>
                  <div class="col-xs-4">Teaching:</div><div class="col-xs-8">{{course.avgTeaching}}</div>
                  <div class="col-xs-12"><a href="#">See more</a></div>
                  
                </div>
              </div>
            </div>
       
          </div>
      </div>