.score{
    text-align: left;
}

.coursename{
    font-weight: bold;
}

.courseschool{
    text-align: left;
    font-size: 0.90em;
}

.panel-body{
   padding: 1%;
}

.input-group{
    margin-bottom: 15px;
}

#accordion {
    margin-top: 40px;
}

.score-heading{
    font-weight: bold;
}

span.stars, span.stars span {
    display: block;
    background: url('/assets/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
