<div class="page-header">
  <h1>{{ course.name }} <p><small>{{ course.school }}</small></p></h1>
</div>
<div class="panel panel-default">
    <div class="panel-body" id="avg-scores">
        <p><strong>The programs this course appears on are:</strong> {{ course.programs }}</p>

      </div>
  <div class="panel-body" id="avg-scores">
    <p><strong>Average scores for this course:</strong></p>
    <div class="row">
      <div class="col-xs-6">
        <p>Quality: 
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(course.avgQuality) }"></span>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p>Relevance: 
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(course.avgRelevance) }"></span>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p>Difficulty: 
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(course.avgDifficulty) }"></span>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p>Teaching: 
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(course.avgTeaching) }"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="panel-body" id="avg-scores">
      <p><strong>Students thoughts for this course:</strong></p>
      <p>{{course.avgLecturesReq}}% think you need to attend the lectures.</p>
      <p>{{course.avgBookReq}}% think you need to buy the book.</p>
      <p>{{course.avgGroupWork}}% considers the course to have group work.</p>
      <p>On average, {{course.avgTime}} hours was spent per week.</p>
    </div>
</div>
<div class="page-header">
    <h1><small>Reviews</small></h1>
</div>
<div class="panel panel-default" *ngFor="let review of reviews">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>{{ review.user }}</strong></h3>
  </div>
  <div class="panel-body">
    {{ review.comment }}
    <hr>
    <p><strong>Scores:</strong></p>
    <div class="row">
      <div class="col-xs-6">
        <p>Quality:
            <span class="stars">
              <span [ngStyle]="{ 'width': getStars(review.quality) }"></span>
            </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p>Relevance: 
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(review.relevance) }"></span>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p>Difficulty: 
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(review.difficulty) }"></span>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p>Teaching:
          <span class="stars">
            <span [ngStyle]="{ 'width': getStars(review.teaching) }"></span>
          </span>
        </p>
      </div>
    </div>
    <p>
      Time spent per week: <strong>{{review.timeSpent}}</strong> hours
    </p>
    <p>
      Do you need to buy the book? <strong *ngIf="review.bookRequired; else no">Yes</strong>
    </p>
    <p>
      Do you recommend going to the lectures? <strong *ngIf="review.bookRequired; else no">{{review.lecturesRequired}}</strong>
    </p>
    <p>
      Do you consider it to be group work? <strong *ngIf="review.bookRequired; else no">{{review.groupWork}}</strong>
    </p>
  </div>
  <ng-template #no><strong>No</strong></ng-template>

</div>